<%- include('fragments/head.ejs') %>
<body>
<%- include('fragments/nav.ejs') %>
<main>
  <div class="TexteExplicatif">
    <h1>Bienvenue sur ClusterLab, la plateforme de calcul distribué</h1>
    <p>C'est plus précisement une application web conçue pour exploiter un cluster Raspberry et réaliser des calculs distribués ou parallèles de manière simple et efficace. Elle permet aux utilisateurs inscrits de lancer des programmes de calcul et d’obtenir des résultats directement dans leur interface web.</p>
    <p>Grâce à ClusterLab, vous pouvez :</p>
    <ul>
       <li><strong>Lancer des programmes de calcul</strong> : Utilisez nos modules pour exécuter des calculs sur le cluster Raspberry.</li>
       <li><strong>Gérer votre profil</strong> : Créez un compte, modifiez vos informations et accédez à votre tableau de bord personnalisé.</li>
       <li><strong>Suivre vos résultats</strong> : Visualisez les résultats de vos calculs directement sur la plateforme.</li>
    </ul>
    <p>La plateforme est conçue pour être accessible tant aux étudiants qu’aux professeurs souhaitant expérimenter le calcul distribué ou parallèle. Vous trouverez différents modules adaptés à vos besoins et pourrez facilement explorer les possibilités offertes par le cluster Raspberry.</p>
    <p>Nous vous invitons à vous inscrire pour profiter pleinement de toutes les fonctionnalités et commencer à lancer vos programmes de calcul sur le cluster.</p>
    <p>Explorez, testez et optimisez vos calculs !<br>(L'équipe de développement)</p>
  </div>
</main>
<%- include('fragments/footer.ejs') %>
</body>
</html>
