<%- include('fragments/head.ejs') %>
<body>
<%- include('fragments/nav.ejs') %>

<main>
  <h1>403</h1>
  <p>Vous n'avez pas les droits pour acceder a cette page.</p>
  <p><a href="/">Retourner a l'accueil</a></p>
</main>

<%- include('fragments/footer.ejs') %>
</body>
</html>
