<footer>
    <div style="padding-bottom: 30px;">
        <h1>Développeurs</h1>
        <ol>
            <li>Esteban Colombani</li>
            <li>Luca Da Silva</li>
        </ol>
    </div>
    <div style="padding-bottom: 30px;">
        <h1>Formation</h1>
        <p>IUT de Vélizy-Villacoublay</p>
        <p>BUT Informatique</p>
        <p>INF3-FI</p>
    </div>
    <div style="padding-bottom: 30px;">
        <h1>Université</h1>
        <p>10-12 avenue de l'Europe</p>
        <p>Vélizy-Villacoublay</p>
        <p>78640</p>
    </div>

    <div class="footer-bottom">
        <p>© 2025 ClusterLab — Tous droits réservés.</p>
    </div>
</footer>
<script src="/js/main.js"></script>
